{% if is_single %}
  <h1 class="c-entry__title {{ cn('c-heading', 'h1') }}" itemprop="headline">
		{{ post.title }}
	</h1>
{% else %}
	<h2 class="c-entry__title {{ cn('c-heading', 'h2') }}">
		<a href="{{ post.link }}" itemprop="headline">{{ post.title }}</a>
	</h2>
{% endif %}

{% include 'partials/stats.twig' with {
  class: 'c-entry__stats',
  stats: {
    author: {
      show_avatar: true,
    },
    terms: {
      term_args: term_args ?? [],
    },
    date: true,
    views: true,
		ratings: not is_single,
  },
} %}
