{% if is_option_enabled('date', post.type) %}
  <li class="{{ cn('c-stats__item', 'date') }}" title="{{ __('Published', 'chipmunk') }}: {{ post.date('Y-m-d H:i') }}">
    {% include 'partials/icon.twig' with { icon: 'clock' } only %}

    <time datetime="{{ post.date('c') }}" itemprop="datePublished">
      {{ post.date }}
    </time>
  </li>
{% endif %}
