{% if is_option_enabled('upvotes', post.type) %}
  {# TODO: Generate the upvote on the fly using post ID #}
  {% if is_single or get_option('display_resource_as') != 'tile' %}
    <li class="{{ class('c-stats__item', 'upvotes') }}">
      {{ upvote_button }}
    </li>
  {% else %}
    <li class="{{ class('c-stats__item', 'upvotes') }}" title="{{ __('Upvotes', 'chipmunk') }}">
      {{ upvote_counter }}
    </li>
  {% endif %}
{% endif %}
