{% set items = items ?? menu.items %}

{# TODO: Add support for multi-level menus and dropdowns #}
<ul class="{{ cn("c-menu-#{ type }", modifiers) }}">
  {% set class = "c-menu-#{ type }#{ modifiers ? '-' : '__' }" %}
  {% set item_class = class ~ 'item' %}
  {% set link_class = class ~ 'link' %}
  {% set toggle_class = class ~ 'toggle' %}

  {% for item in items %}
    {% set is_expandable = item.children and expandable %}

    <li class="{{ cn(item_class, item.children ? 'parent') }} {{ item.classes | join(' ') }}">
      {# Not clickable button if there's no link... #}
      {% if item.link == '#' %}
        <button class="{{ cn(link_class, is_expandable ? 'expandable') }}" {{ is_expandable ? "data-dropdown='responsive' data-dropdown-block='true'" }}>
          {{ item.title }}

          {% if is_expandable %}
            <span class="{{ toggle_class }}">
              {% include 'partials/icon.twig' with { icon: 'chevron-down' } only %}
              <span class="u-hidden-visually">{{ __('Toggle submenu', 'chipmunk') }}</span>
            </span>
          {% endif %}
        </button>

      {# ...otherwise a standard link #}
      {% else %}
        <a href="{{ item.link }}" class="{{ link_class }}" {{ item.target ? 'target=' ~ item.target }}>
          {{ item.title }}
        </a>

        {% if is_expandable %}
          <button class="{{ toggle_class }}" data-dropdown="responsive" data-dropdown-block="true">
            {% include 'partials/icon.twig' with { icon: 'chevron-down' } only %}
            <span class="u-hidden-visually">{{ __('Toggle submenu', 'chipmunk') }}</span>
          </button>
        {% endif %}
      {% endif %}

      {% if item.children %}
        {% include 'partials/menu.twig' with {
          items: item.children,
          type: modifiers ? type : "#{type}__submenu",
          modifiers: modifiers ?? get_option('dropdown_theme'),
        } %}
      {% endif %}
    </li>
  {% endfor %}

  {% block extra_items %}{% endblock %}
</ul>
