<div class="c-page-foot l-section l-section--compact">
  <div class="l-container">
    <div class="c-page-foot__inner">
      <p class="c-page-foot__copy">
        {{ get_option('copyright_text') | e('wp_kses_post') | shortcodes }}
      </p>

      {% if not get_option('disable_credits') %}
        <a href="{{ 'https://chipmunktheme.com' | external_url | e('esc_url') }}" class="c-page-foot__credits" target="_blank" title="{{ __('Chipmunk WordPress Theme', 'chipmunk') }}">
          {{ __('Made with Chipmunk', 'chipmunk') }}
          {{ asset_path('images/logo.svg') | svg_content }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
