{% macro alert(alert) %}
  <div class="{{ class('c-form__field', 'wide') }}">
    <p class="{{ class('c-form__info', alert.type) }}">
      {{ alert.message }}
    </p>
  </div>
{% endmacro %}

{% if 'type' in alerts | keys %}
  {{ _self.alert(alerts) }}
{% else %}
  {% for alert in alerts %}
    {{ _self.alert(alert) }}
  {% endfor %}
{% endif %}
