{% if pagination.pages %}
  <nav class="c-pagination {{ cn('l-component', 'md') }}">
    {% if get_option('pagination_type') in ['load_more', 'infinite'] %}
      <button class="c-pagination__button c-button c-button--primary-outline u-loader" data-action="load_posts" data-query-vars="<?php echo esc_attr( json_encode( $query->query ) ); ?>" data-page="{{ pagination.current + 1 }}"{{ get_option('pagination_type') == 'infinite' ? ' data-view-trigger="click"' }}>
				<span>{{ __('Load more', 'chipmunk') }}</span>
			</button>
    {% else %}
			<div class="{{ cn('c-pagination__item', pagination.prev ? 'disabled') }}">
        {{ pagination.prev ? "<a href='#{ pagination.prev.link }'>" }}
          {% include 'partials/icon.twig' with { icon: 'arrow-left' } only %}
          <span class="u-visible-md-inline">{{ __('Previous', 'chipmunk') }}</span>
        {{ pagination.prev ? '</a>' }}
			</div>

			<div class="c-pagination__title">
				{{ __('Page %d of %d', 'chipmunk') | format(pagination.current, pagination.total) }}
			</div>

			<div class="{{ cn('c-pagination__item', pagination.next ? 'disabled') }}">
        {{ pagination.next ? "<a href='#{ pagination.next.link }'>" }}
          <span class="u-visible-md-inline">{{ __('Next', 'chipmunk') }}</span>
          {% include 'partials/icon.twig' with { icon: 'arrow-right' } only %}
        {{ pagination.next ? '</a>' }}
			</div>
    {% endif %}
	</nav>
{% endif %}

<?php if ( $query && $query->max_num_pages > 1 && ( ! isset( $query->query['orderby'] ) || $query->query['orderby'] != 'rand' ) ) : ?>

<?php endif; ?>
