{% set ad_image_lg = get_option('ad_image_lg') %}
{% set ad_image_md = get_option('ad_image_md') %}
{% set ad_image_sm = get_option('ad_image_sm') %}
{% set ad_link = get_option('ad_link') %}
{% set ad_code = get_option('ad_code') %}

{% set enabled = not get_option('disable_ads') %}
{% set enabled_home = is_front_page or not get_option('ads_only_home') %}

{% set has_image = ad_image_lg or ad_image_md or ad_image_sm %}
{% set has_content = has_image or ad_code %}

{% if enabled and enabled_home and has_content %}
  <div class="{{ cn('l-section', ['theme-light', 'compact', 'sticky']) }}">
    <div class="l-container">
      {% if has_image and ad_link %}
        <a href="{{ ad_link | e('esc_url') }}" target="_blank" class="c-promo">
          {% if ad_image_lg %}
            <img src="{{ ad_image_lg | e('esc_url') }}" alt="" class="u-visible-{{ ad_image_md ? 'lg' : (ad_image_sm ? 'md' : 'sm') }}-block">
          {% endif %}

          {% if ad_image_md %}
            <img src="{{ ad_image_md | e('esc_url') }}" alt="" class="u-visible-{{ ad_image_sm ? 'md' : 'sm' }}-block u-hidden-{{ ad_image_lg ? 'lg' : 'xl' }}">
          {% endif %}

          {% if ad_image_sm %}
            <img src="{{ ad_image_sm | e('esc_url') }}" alt="" class="u-hidden-{{ ad_image_lg or ad_image_md ? 'md' : 'xl' }}">
          {% endif %}
        </a>
      {% elseif ad_code %}
        {{ ad_code | stripslashes }}
      {% endif %}
    </div>
  </div>
{% endif %}
