{% set resources_count    = get_option('resources_count', 9) %}
{% set disable_sliders    = get_option('disable_homepage_listings_sliders') %}
{% set infinite_sliders   = get_option('infinite_sliders') %}

{# TODO: Pull the proper resource lists based on the tab #}
{% set sections = {
  featured: {
    label: __('Featured', 'chipmunk'),
    results: not get_option('disable_featured')
      ? get_resources({
        posts_per_page: resources_count,
        meta_query: {
          featured: {
            key: '_' ~ THEME_SLUG ~ '_resource_is_featured',
            value: ['1', 'on'],
            compare: 'IN',
          },
          views: {
            key: '_' ~ THEME_SLUG ~ '_post_view_count',
          },
        },
        orderby: 'rand',
      }),
  },

  latest: {
    label: __('Latest', 'chipmunk'),
    results: get_resources({
      posts_per_page: resources_count,
      orderby: 'date',
      order: 'DESC',
    }),
  },

  popular: {
    label: __('Popular', 'chipmunk'),
    results: is_option_enabled('views', 'resource', false)
      ? get_resources({
        posts_per_page: resources_count,
        meta_key: '_' ~ THEME_SLUG ~ '_post_view_count',
        orderby: 'meta_value_num',
        order: 'DESC',
      }),
  },
} %}

{# Get the proper tab order #}
{% set tabs = ['featured', 'latest', 'popular'] | apply_filters('chipmunk_resource_tabs') %}

{# Filter out empty resource tabs #}
{% set tabs = tabs | filter(tab => sections[tab].results) %}

{% if tabs %}
	<div class="l-section">
		<div class="l-container">
      <div class="c-tabs" data-tabs role="tablist">
        {% if tabs | length > 1 %}
          <div class="c-tabs__title {{ cn('c-heading', 'h5') }}">
            {% for tab in tabs %}
              <a href="#{{ sections[tab].label | sanitize_title }}" class="c-heading__link{{ loop.first ? ' is-active' }}" data-tabs-toggle role="tab">
                {{ sections[tab].label }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% for tab in tabs %}
          <div class="c-tabs__item{{ loop.first ? ' is-active' }}" data-tabs-panel role="tabpanel" id="{{ sections[tab].label | sanitize_title }}">
            <div class="c-tile__list"{{ not disable_sliders ? " data-carousel='{ \"wrapAround\": " ~ infinite_sliders | json_encode ~ " }'" }}>
              {% for post in sections[tab].results %}
                {% include "content/tile/#{ post.type }.twig" %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
		</div>
	</div>
{% endif %}
