{% set menu = get_menu('primary') %}
{% set button_class = class('c-button', 'primary-outline') %}

<div class="c-overlay u-hidden-lg">
  <div class="c-overlay__inner">
    {% if menu.items %}
      <nav class="c-overlay__menu">
        {% include 'partials/menu.twig' with {
          type: 'primary',
          items: menu.items,
          expandable: true,
        } %}
      </nav>
    {% endif %}

    {% if is_addon_enabled('members') %}
      <div class="c-overlay__bottom">
        {% if user %}
          {% include 'partials/submit-button.twig' with { class: button_class } %}
        {% else %}
          <a href="{{ get_members_link('login') | esc_url }}" class="{{ button_class }}">
            {{ __('Login', 'chipmunk') }}
          </a>

          <a href="{{ get_members_link('register') | esc_url }}" class="{{ button_class }}">
            {{ __('Register', 'chipmunk') }}
          </a>
        {% endif %}
      </div>
    {% elseif not get_option('disable_submissions') %}
      <div class="c-overlay__bottom">
        {% include 'partials/submit-button.twig' with { class: button_class } %}
      </div>
    {% endif %}
  </div>
</div>
