<div class="c-entry c-entry__tile l-wrapper">
  {% if post.thumbnail %}
    <a href="{{ post.link }}" class="c-entry__image {{ cn('c-media', '16-9') }}">
      <img src="{{ post.thumbnail.src('1280x720') }}" alt="" />
    </a>
  {% endif %}

  <div class="c-entry__head">
    {% include 'content/entry/post/head.twig' %}
  </div>

  {% if post.content %}
    <div class="c-entry__description {{ cn('c-content', 'type') }}">
      {{ post.excerpt({ chars: 250 }).read_more(null) }}
    </div>
  {% endif %}

  <a href="{{ post.link }}" class="{{ cn('c-button', 'primary-outline') }}">
    {{ __('Read more', 'chipmunk') }}
  </a>
</div>
