<div class="chipmunk">
  <div class="chipmunk__head chipmunk__wrap">
    <h2 style="display: none;"></h2>

    <h1 class="chipmunk__title">
      {{ get_svg_content(asset('images/logo.svg')) }}
      {{ config.name }}
    </h1>

    {% if license and license.license == 'valid' %}
      <a href="{{ config.shop_url | esc_url }}/account" target="_blank" class="chipmunk__status">
        <div class="{{ class('chipmunk__status-icon', 'success') }}">✓</div>

        <div class="chipmunk__status-content">
          {% if license.price_id %}
            <strong>{{ __('%s License', 'chipmunk') | format(config.plans[license.price_id]) | esc_html }}</strong>
          {% endif %}

          {{ license.customer_email | esc_html }}
        </div>
      </a>
    {% else %}
      <a href="?page=chipmunk&tab=license" class="chipmunk__status">
        <div class="{{ class('chipmunk__status-icon', 'error') }}">⤫</div>

        <div class="chipmunk__status-content">
          <strong>{{ __('License is invalid', 'chipmunk') | esc_html }}</strong>
          {{ __('Please activate your license', 'chipmunk') | esc_html }}
        </div>
      </a>
    {% endif %}
  </div>

  {% if tabs %}
    <nav class="chipmunk__nav chipmunk__wrap">
      {% for tab in tabs %}
        <a href="?page=chipmunk&tab={{ tab.slug | esc_attr }}" {{ (get_param('tab') == tab.slug) or (not get_param('tab') and loop.first) ? 'class="active"' }}>
          {{ tab.name | esc_html }}
        </a>
      {% endfor %}
    </nav>
  {% endif %}

  <div class="chipmunk__main chipmunk__wrap">
    {{ fn('settings_errors') }}

    {% for tab in tabs %}
      {% if ((get_param('tab') == tab.slug) or (not get_param('tab') and loop.first)) and tab.content %}
        {{ tab.content }}
      {% endif %}
    {% endfor %}
  </div>

  <script>
    var HW_config = {
      selector: ".chipmunk__head h1",
      account:  "yZMVmJ"
    }
  </script>
  <script async src="https://cdn.headwayapp.co/widget.js"></script>
</div>
