{% if post.thumbnail and is_option_enabled('single_thumbs', 'resource') %}
  {% set thumbnail = "<img src='#{ post.thumbnail.src('1280x960') }' alt='' itemprop='image' />" %}
  {% set media_class = 'c-resource__media ' ~ class('c-media', get_option('resource_image_aspect_ratio')) %}

  {% if not is_single %}
    <a href="{{ post.link }}" class="{{ media_class }}">
      {{ thumbnail }}
    </a>
  {% elseif links | length %}
    {{ get_external_link((links | first).url, thumbnail, { class: media_class }) }}
  {% else %}
    <div class="{{ media_class }}">
      {{ thumbnail }}
    </div>
  {% endif %}
{% endif %}
