<a href="#" class="tile{{ column ? ' column column_md-3 column_lg-4' : '' }}{{ column and loop.last ? ' visible-lg-block' : '' }}">
  <div class="tile__image">
    <img src="http://placehold.it/300x210" alt="" />
  </div>

  <div class="tile__content tile__content_dimmed">
    <div>
      <h3 class="tile__title">{{ resource }}</h3>
      <p class="tile__copy">A curated directory of 400 resources & tools for startups&nbsp;<i class="icon icon_arrow"></i></p>
    </div>

    <ul class="stats">
      <li class="stats__item" title="Published"><i class="icon icon_clock"></i> {{ random(30) + 1 }}. August</li>
      <li class="stats__item" title="Views"><i class="icon icon_view"></i> {{ random(2000) }}</li>
    </ul>
  </div>
</a>
