{% set action = get_option('newsletter_action') %}
{% set email_field = 'email' %}
{% set args = [] %}

{# Mailchimp #}
{% if 'list-manage.com' in action %}
	{% set email_field = 'EMAIL' %}
{% endif %}

{# Convertkit #}
{% if 'convertkit.com' in action %}
	{% set email_field = 'email_address' %}
{% endif %}

{# Revue #}
{% if 'getrevue.co' in action %}
	{% set email_field = 'member[email]' %}
{% endif %}

{% if not get_option('disable_newsletter') and action %}
  {% embed 'wrappers/section.twig' with { modifiers: 'theme-primary' } %}
    {% block content %}
			<div class="l-wrapper">
				<div class="{{ class('c-lead', 'center') }}">
					<h4 class="c-lead__title {{ class('c-heading', 'h1') }}">{{ __('Newsletter', 'chipmunk') }}</h4>
					<p class="c-lead__content {{ class('c-content', 'type') }}">{{ get_option('newsletter_tagline') | esc_html }}</p>

					<form action="{{ action | stripslashes | trim('" ') | esc_url }}" method="post" class="c-lead__cta {{ class('c-form', 'inline', 'narrow') }}" target="_blank" novalidate data-validate>
						<div class="c-form__field">
							<input type="email" name="{{ email_field | apply_filters(get_theme_slug('newsletter_email_field')) | esc_html }}" placeholder="{{ __('Email address', 'chipmunk') }}" class="c-form__input" required autocomplete="off">
							<button type="submit" class="c-form__button">{% include 'partials/icon.twig' with { icon: 'arrow-right' } only %}</button>
						</div>

            {% if get_option('newsletter_consent') %}
							<label class="c-form__field c-form__checkbox" data-consent>
								<input type="checkbox" name="consent" required>
								<p>{{ get_option('newsletter_consent') | esc_html }}</p>
							</label>
            {% endif %}

            {% for key, value in args | apply_filters(get_theme_slug('newsletter_args')) %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
					</form>
				</div>
			</div>
    {% endblock %}
  {% endembed %}
{% endif %}
