{% extends '_layout.twig' %}

{% block content %}
  {% embed 'wrappers/section.twig' with { modifiers: 'double' } %}
    {% block content %}
      <div class="{{ class('c-lead', 'center') }}">
        <h1 class="c-lead__title {{ class('c-heading', 'h1') }}">{{ __('Page not found!', 'chipmunk') }}</h1>
        <p class="c-lead__content {{ class('c-content', 'type') }}">{{ __('Sorry, we couldn\'t find what you\'re looking for.', 'chipmunk') }}</p>
        <a href="{{ site.url }}" class="c-lead__cta {{ class('c-button', 'primary') }}">
          {{ __('Bring me to the frontpage', 'chipmunk') }}
        </a>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
