{% if post.thumbnail and is_option_enabled('single_thumbs', 'resource') %}
  {% set thumbnail = "<img src='#{post.thumbnail.src('1280x960')}' alt='' itemprop='image' />" %}
  {% set media_class = 'c-resource__media ' ~ cn('c-media', get_option('resource_image_aspect_ratio')) %}

  {% if not is_single %}
    <a href="{{ post.link }}" class="{{ media_class }}">
      {{ thumbnail }}
    </a>
  {% elseif links | length %}
    <a href="{{ (links | first).url | external_url | e('esc_url') }}" class="{{ media_class }}" target="_blank"{{ not get_option('disable_nofollow') ? ' rel="nofollow"' }}>
      {{ thumbnail }}
    </a>
  {% else %}
    <div class="{{ media_class }}">
      {{ thumbnail }}
    </div>
  {% endif %}
{% endif %}
