<form action="options.php" method="post">
  {{ fn('settings_fields', option) }}

  <div class="chipmunk__grid">
    {% for addon in addons %}
      <div class="chipmunk__addon chipmunk__box">
        <h3 class="chipmunk__addon-title">
          {{ addon.icon | esc_html }}
          {{ addon.name | esc_html }}
        </h3>

        <p class="chipmunk__addon-excerpt">
          {{ addon.excerpt | esc_html }}

          <a href="{{ addon.url | esc_url }}" target="_blank" class="link">
            {{ __('Read more', 'chipmunk') }} &rarr;
          </a>
        </p>

        {% if not is_valid_license %}
          <p class="chipmunk__addon-error">
            {{ __('Please use a valid license to enable.', 'chipmunk') | esc_html }}
          </p>
        {% elseif not true %} {# self::isAddonAllowed(addon.slug) #}
          <p class="chipmunk__addon-error">
            <a href="{{ config.shop_url | esc_url }}/account/licenses" target="_blank" class="button-secondary">
              {{ __('Upgrade now', 'chipmunk') | esc_html }}
            </a>

            {{ __('Available in the %s plan.', 'chipmunk') | format(config.plans[config.addons[addon.slug]]) | esc_html }}
          </p>
        {% else %}
          <label for="{{ addon.slug | esc_html }}">
            <input type="checkbox" name="{{ option }}[{{ addon.slug | esc_attr }}]" id="{{ addon.slug | esc_attr }}" value="1" {{ fn('checked', 1, options[addon.slug] ?? '0') }} />
            {{ __('Enable Addon', 'chipmunk') | esc_html }}
          </label>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {{ fn('submit_button') }}
</form>
