<form action="options.php" method="post">
  {{ fn('settings_fields', option) }}

  <div class="chipmunk__grid">
    <div class="chipmunk__license chipmunk__box">
      <h3 class="chipmunk__license-head">
        {{ get_theme_property('name') }}
      </h3>

      <div class="chipmunk__license-body">
        <input
          type="password"
          class="regular-text"
          name="{{ option | esc_attr }}"
          value="{{ key | esc_attr }}"
          placeholder="{{ strings['license-key'] | esc_attr }}" />

        {% if license and license.license == 'valid' %}
          <button type="submit" class="button-secondary" name="{{ option | esc_attr }}_deactivate">
            {{ strings['deactivate-license'] | esc_html }}
          </button>
        {% else %}
          <button type="submit" class="button-primary" name="{{ option | esc_attr }}_activate">
            {{ strings['activate-license'] | esc_html }}
          </button>
        {% endif %}
      </div>

      <div class="chipmunk__license-data is-{{ license.license | esc_attr }}">
        <p class="description">{{ status | esc_html }}</p>
      </div>

      {% do action(get_theme_slug('license_content')) %}
    </div>
  </div>
</form>
