{% embed 'wrappers/shortcode.twig' %}
  {% block content %}
    {% if show_title %}
      <h2 class="{{ class('c-heading', 'h2') }}">
        {{ __('Forgot Your Password?', 'chipmunk') }}
      </h2>
    {% endif %}

    {% if blocker %}
      {% include 'partials/alerts.twig' with { alerts: blocker } %}
    {% else %}
      <form class="c-form" action="{{ fn('wp_lostpassword_url', redirect_to) | esc_url }}" method="post" novalidate data-validate>
        {% include 'partials/alerts.twig' %}

        <div class="{{ class('c-form__field', 'wide') }}">
          <p class="c-form__info">{{ __('Enter your username or email address and we\'ll send you a link you can use to pick a new password.', 'chipmunk') }}</p>
        </div>

        <div class="{{ class('c-form__field', 'wide') }}">
          <input type="text" name="user_login" placeholder="{{ __('Username or Email Address', 'chipmunk') }}*" required minlength="3" class="c-form__input">
        </div>

        <div class="c-form__field c-form__field--wide c-form__field--cta">
          <button type="submit" class="{{ class('c-button', 'primary-outline') }}">
            {{ __('Reset Password', 'chipmunk') }}
          </button>
        </div>

        <input type="hidden" name="redirect_to" value="{{ redirect_to | esc_url }}">
      </form>
    {% endif %}
  {% endblock %}
{% endembed %}
