{% embed 'wrappers/shortcode.twig' %}
  {% block content %}
    {% if show_title %}
      <h2 class="{{ class('c-heading', 'h2') }}">
        {{ __('Reset Password', 'chipmunk') }}
      </h2>
    {% endif %}

    {% if blocker %}
      {% include 'partials/alerts.twig' with { alerts: blocker } %}
    {% else %}
      <form class="c-form" action="{{ fn('add_query_arg', 'action', action, fn('site_url', 'wp-login.php')) | esc_url }}" method="post" novalidate data-validate>
        {% include 'partials/alerts.twig' %}

        <div class="{{ class('c-form__field', 'wide') }}">
          <input type="password" name="pass1" placeholder="{{ __('New password', 'chipmunk') }}*" required class="c-form__input">
        </div>

        <div class="{{ class('c-form__field', 'wide') }}">
          <input type="password" name="pass2" placeholder="{{ __('Confirm password', 'chipmunk') }}*" required class="c-form__input">
        </div>

        <div class="{{ class('c-form__field', 'wide') }}">
          <p class="c-form__info">{{ fn('wp_get_password_hint') }}</p>
        </div>

        <input type="hidden" name="rp_key" value="{{ key | e }}" />
        <input type="hidden" name="rp_login" value="{{ login | e }}" />
      </form>
    {% endif %}
  {% endblock %}
{% endembed %}
